@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #2e2f42;
  color: #fff;
}

/* Logo Styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  margin: 0;
}
.home-link {
  color: #2e2f42;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Navigation Links */
.nav-home {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500; /* Жирність шрифту */
  color: #2e2f42; /* Основний колір */
  line-height: 1.5; /* Простір між рядками */
  text-decoration: none; /* Відсутність підкреслення */
  letter-spacing: 0.02em;
}
.nav-home:hover,
.nav-home:focus {
  color: #404bbf; /* Зміна кольору при ховері або фокусі */
  text-decoration: none;
}

.nav-home header address {
  font-style: normal;
}

header address ul {
  list-style: none;
}

header address ul li {
  margin: 0;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero Section */
.hero {
  text-align: center;
  background-color: #2e2f42;
  color: #fff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;
}

/* Ховер-ефект */
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features Section */
.features {
  background-color: #fff;
}
.feature-item {
  background-color: #ffffff; /* Білий фон */
}
.feature-title {
  font-weight: 500; /* Жирність шрифту */
  font-size: 20px; /* Розмір шрифту */
  line-height: 1.2; /* Простір між рядками */
  letter-spacing: 0.02em; /* Відстань між літерами */
  color: #2e2f42; /* Колір тексту */
}

.features ul {
  list-style: none;
}

.features ul li {
  margin-bottom: 20px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team Section */
.team {
  background-color: #f4f4fd; /* Встановлення кольору фону */
}

.portfolio {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-item {
  background-color: #ffffff;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-list {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.site-footer {
  text-align: center;
  background-color: #2e2f42;
  color: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-span-btn {
  color: #f4f4fd;
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/* Responsive Design */
@media (max-width: 768px) {
  header nav ul li {
    margin: 0 0 10px 0;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero button {
    font-size: 0.875rem;
  }

  section ul {
    list-style: none;
  }

  .team ul {
    list-style: none;
  }
}
