@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #0056b3;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-size: 500;
  color: #fff;
  background-color: #007bff;
  border: none;
}
button:hover {
  background-color: #0056b3;
}
ul {
  background-color: #ffffff;
  list-style-type: none;
}
li {
  font-size: 1rem;
  line-height: 1.5;
}
address {
  font-size: normal;
}
address a {
  color: #000;
}
address a:hover {
  color: #007bff;
}
header nav a.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
